if-shell 'env "$POWERLINE_CONFIG_COMMAND" tmux setup' '' 'run-shell "powerline-config tmux setup"'
# vim: ft=tmux
set -g default-terminal "tmux-256color"
set -g mouse on
set -s escape-time 20

# Ring the bell if any background window rang a bell
set -g bell-action any

# Watch for activity in background windows
setw -g monitor-activity on

# scrollback size
set -g history-limit 10000

# set first window to index 1 (not 0) to map more to the keyboard layout
set -g base-index 1
setw -g pane-base-index 1

# Fix escape
set -g escape-time 10

# Fixing the RGB colors
set -ga terminal-overrides ",*256col*:RGB"

set-window-option -g mode-keys vi

# Setup 'v' to begin selection as in Vim
{% if ansible_distribution == "MacOSX" %}
bind-key vi-copy v begin-selection
set-option -g default-command "exec reattach-to-user-namespace -l fish"
bind-key vi-copy y copy-pipe "reattach-to-user-namespace pbcopy"

# Update default binding of `Enter` to also use copy-pipe
unbind vi-copy Enter
bind-key vi-copy Enter copy-pipe "reattach-to-user-namespace pbcopy"
{% endif %}

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'odedlaz/tmux-onedark-theme'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
