" vim: ft=vim
if &compatible
  set nocompatible
endif
set runtimepath^={{ dein_dir }}/repos/github.com/Shougo/dein.vim

call dein#begin(expand('~/.cache/dein'))

" VIM Functionality
call dein#add('Shougo/dein.vim')
call dein#add('Shougo/deoplete.nvim')
if !has('nvim')
  call dein#add('roxma/nvim-yarp')
  call dein#add('roxma/vim-hug-neovim-rpc')
endif
call dein#add('Shougo/denite.nvim')
call dein#add('Shougo/neosnippet.vim')
call dein#add('Shougo/neosnippet-snippets')
call dein#add('ctrlpvim/ctrlp.vim')
call dein#add('bling/vim-airline')
call dein#add('ryanoasis/vim-devicons')
call dein#add('neomake/neomake')
call dein#add('wincent/ferret')
call dein#add('tpope/vim-fugitive')
call dein#add('ludovicchabant/vim-lawrencium')
call dein#add('autozimu/LanguageClient-neovim', {'rev': 'next', 'build': 'bash install.sh'})
{% if ansible_system == 'Linux' -%}
call dein#add('farseer90718/vim-taskwarrior')
{%- endif %}

" Languages
call dein#add('Glench/Vim-Jinja2-Syntax')
call dein#add('cespare/vim-toml')
call dein#add('dag/vim-fish')
call dein#add('ekalinin/Dockerfile.vim')
call dein#add('elmcast/elm-vim')
call dein#add('fatih/vim-go')
call dein#add('hashivim/vim-terraform')
call dein#add('othree/html5.vim')
call dein#add('rust-lang/rust.vim')
call dein#add('vlaadbrain/gnuplot.vim')

" Color Schemes
call dein#add('Siphalor/vim-atomified')
call dein#add('Yggdroot/duoduo')
call dein#add('ajmwagar/vim-deus')
call dein#add('arcticicestudio/nord-vim')
call dein#add('blerins/flattown')
call dein#add('chase/focuspoint-vim')
call dein#add('flrnd/candid.vim')
call dein#add('flrnprz/plastic.vim')
call dein#add('lithammer/vim-eighties')
call dein#add('mhartington/oceanic-next')
call dein#add('rhysd/vim-color-spring-night')
call dein#add('rhysd/wallaby.vim')
call dein#add('sainnhe/archived-colors') " Cryslominsa
call dein#add('sainnhe/edge')
call dein#add('sainnhe/vim-color-forest-night')
call dein#add('scwood/vim-hybrid')
call dein#add('tjammer/blayu.vim')
call dein#add('wmvanvliet/vim-blackboard')

" Required:
call dein#end()

if dein#check_install()
  call dein#install()
endif

" Required:
filetype plugin indent on

syntax on

function! RandomColorscheme()
python3 << EOF
import vim
import random
schemes = [
	'OceanicNext',
	'atomified',
	'blackboard',
	'blayu',
	'candid',
	'cryslominsa',
	'deus',
	'duoduo',
	'edge',
	'eighties',
	'flattown',
	'focuspoint',
        'forest-night',
	'hybrid',
	'nord',
	'plastic',
	'spring-night',
	'wallaby'
	]
vim.command("colorscheme %s" % random.choice(schemes))
EOF
endfunction

set background=dark
call RandomColorscheme()

"folding settings
set foldmethod=syntax   "fold based on indent
set foldnestmax=10      "deepest fold is 10 levels
set nofoldenable        "dont fold by default
set foldlevel=1         "this is just what i use

"File type based indentation
filetype plugin indent on
let g:airline#extensions#tabline#enabled = 1
let g:airline_powerline_fonts = 1

" Set leader to ,
let mapleader = ","

" Setup python3
let g:python_host_prog = '{{ python_bin.stdout }}'

" disable mouse on command line
if !has("gui_running") 
  set mouse-=a
end

" Deocomplete
let g:deoplete#enable_at_startup = 1

" Enable snipMate compatibility feature.
let g:neosnippet#enable_snipmate_compatibility = 1

" Deinite
" Ripgrep command on grep source
call denite#custom#var('grep', 'command', ['rg'])
call denite#custom#var('grep', 'default_opts', ['--vimgrep', '--no-heading'])
call denite#custom#var('grep', 'recursive_opts', [])
call denite#custom#var('grep', 'pattern_opt', ['--regexp'])
call denite#custom#var('grep', 'separator', ['--'])
call denite#custom#var('grep', 'final_opts', [])

" Required for operations modifying multiple buffers like rename.
set hidden

let g:LanguageClient_serverCommands = {
    \ 'rust': ['rustup', 'run', 'stable', 'rls'],
    \ 'yaml': ['yaml-language-server', '--stdio'],
    \ 'json': ['vscode-json-languageserver', '--stdio'],
    \ 'javascript': ['javascript-typescript-stdio'],
    \ 'typescript': ['javascript-typescript-stdio'],
    \ 'python': ['pyls'],
    \ 'go': ['gopls'],
    \ 'ruby': ['solargraph', 'stdio'],
    \ }

let g:LanguageClient_settingsPath = '~/.config/neovim/lsp_settings.json'

" Disable some vim-go stuff handled by lsp
let g:go_code_completion_enabled = 0
let g:go_fmt_autosave = 0
let g:go_mod_fmt_autosave = 0

" File indentation
autocmd Filetype ruby set sts=2 sw=2 et
autocmd Filetype yaml set sts=2 sw=2 et
autocmd Filetype json set sts=2 sw=2 et
autocmd Filetype js set sts=2 sw=2 et

" Run format on save
autocmd BufWritePre *.go :call LanguageClient#textDocument_formatting_sync()
autocmd BufWritePre *.rs :call LanguageClient#textDocument_formatting_sync()

" Ignore rust/go specific build stuff
set wildignore+=*/target/*
set backspace=2

if executable('rg')
  let g:ackprg = 'rg --no-heading --vimgrep'
endif

" Plugin key-mappings.
" Note: It must be "imap" and "smap".  It uses <Plug> mappings.
imap <C-k>     <Plug>(neosnippet_expand_or_jump)
smap <C-k>     <Plug>(neosnippet_expand_or_jump)
xmap <C-k>     <Plug>(neosnippet_expand_target)

" SuperTab like snippets behavior.
" Note: It must be "imap" and "smap".  It uses <Plug> mappings.
"imap <expr><TAB>
" \ pumvisible() ? "\<C-n>" :
" \ neosnippet#expandable_or_jumpable() ?
" \    "\<Plug>(neosnippet_expand_or_jump)" : "\<TAB>"
smap <expr><TAB> neosnippet#expandable_or_jumpable() ?
\ "\<Plug>(neosnippet_expand_or_jump)" : "\<TAB>"

" For conceal markers.
if has('conceal')
  set conceallevel=2 concealcursor=niv
endif

" Run neomake to do linters or whatever
noremap <leader>l :Neomake<enter>

" Format code
noremap <leader>f :call LanguageClient_textDocument_formatting()<enter>

" Jump to definition
noremap <leader>f :call LanguageClient_textDocument_definition()<enter>

" Rename
noremap <leader>r :call LanguageClient_textDocument_rename()<enter>

" Swap between buffers easy
noremap <leader>n :bn<enter>
noremap <leader>p :bp<enter>
