export CLICOLOR=1
export POWERLINE_BASH_CONTINUATION=1
export POWERLINE_BASH_SELECT=1
{% if ansible_distribution == "MacOSX" %}
export GOPATH=${HOME}/Documents/go
source /usr/local/lib/python3.5/site-packages/powerline/bindings/bash/powerline.sh
{% else %}
export GOPATH=${HOME}/go
source /usr/lib/python/site-packages/powerline/bindings/bash/powerline.sh
{% endif %}

alias vim=`which nvim`

function push_key {
  ssh $1 "(test -d ~/.ssh || mkdir ~/.ssh) && echo '$(cat ~/.ssh/id_rsa.pub)' >> ~/.ssh/authorized_keys"
}

function get_ips() {
	aws ec2 describe-instances | jq '.Reservations|map({"id": .Instances[0].InstanceId, "ip": .Instances[0].PublicIpAddress, "name": .Instances[0].Tags[0].Value, "image": .Instances[0].ImageId})'
}
