export CLICOLOR=1
export POWERLINE_BASH_CONTINUATION=1
export POWERLINE_BASH_SELECT=1
{% if ansible_distribution == "MacOSX" %}
source /usr/local/lib/python3.5/site-packages/powerline/bindings/bash/powerline.sh
{% else %}
source /usr/lib/python/site-packages/powerline/bindings/bash/powerline.sh
{% endif %}

alias vim=`which nvim`
